@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h2,
h1 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.app-name {
  text-align: center;
}

.description {
  text-align: center;
}

.user-info {
  margin: auto;
  text-align: center;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 90%;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}

.tops-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & div {
    max-width: 60%;
    border-radius: 12px;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  & button {
    background-color: white;
    border: none;
  }

  & button:hover {
    transform: scale(1.06);
  }

  & .top-img-div {
    border: 1px solid grey;
    border-radius: 12px;
    padding: 24px;
    position: relative;
  }

  & h2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(30%, -120%);
    background-color: white;
  }
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & div {
    max-width: 60%;
    height: auto;
    border-radius: 12px;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
  }

  & button {
    background-color: white;
    border: none;
  }

  & button:hover {
    transform: scale(1.06);
  }

  & .bottom-img-div {
    border: 1px solid grey;
    border-radius: 12px;
    padding: 24px;
    position: relative;
  }

  & h2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(30%, -120%);
    background-color: white;
  }
}

.self-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  & img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    border: none;
    object-fit: contain;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  & button {
    margin-top: 1rem;
    padding: 8px;
    background-color: black;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  & button:hover {
    background-color: #333;
  }

  & select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #0a0a0c;
    font-size: 1rem;
  }

  & select option {
    padding: 8px;
    font-size: 1rem;
  }

  & .file-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  & .file-button:hover {
    background-color: grey;
  }

  & .file-button input[type="file"] {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
  }
}

input {
  padding: 2px;
  font-family: "Inter", sans-serif;
}

.generate-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  & button {
    padding: 12px 24px;
    font-size: 1rem;
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
  }

  & button:hover {
    background-color: #004d00;
  }
}

.success-message {
  color: #006400;
}

.signup-container {
  max-width: 85%;
  margin: auto;
  padding: 2rem;

  & h2 {
    font-size: 1.3rem;
  }

  & input {
    padding: 12px;
    border: 1px solid grey;
    border-radius: 4px;
  }

  & button {
    padding: 8px;
    font-size: 1rem;
    background-color: black;
  }

  & button:hover {
    background-color: #004d00;
  }

  & a {
    color: #2b35af;
    text-decoration: none;
    cursor: pointer;
  }
}

.login-container {
  max-width: 85%;
  margin: auto;
  padding: 2rem;

  & input {
    padding: 12px;
    border: 1px solid grey;
    border-radius: 4px;
  }

  & button {
    padding: 8px;
    font-size: 1rem;
  }

  & button:hover {
    background-color: #333;
  }

  & a {
    color: #2b35af;
    text-decoration: none;
    cursor: pointer;
  }

  & .error-message {
    color: red;
  }
}

.logout {
  background-color: #f2f4f7;
  padding: 36px;

  & button {
    background-color: #f2f4f7;
    border: none;
    font-size: 1rem;
  }

  & button:hover {
    color: #004d00;
  }
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2026-2-19 17:7:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@media (min-width: 805px) {
  .container {
    grid-template-columns: repeat(2, 1fr);

    & .self-wrapper {
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  .signup-container,
  .login-container {
    max-width: 50%;
  }
}

@media (min-width: 1005px) {
  .container {
    max-width: 70%;
  }
}

@media (min-width: 1130px) {
  .container {
    max-width: 50%;
  }

  .logout {
    & button {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 1900px) {
  .signup-container,
  .login-container {
    font-size: larger;

    & input {
      padding: 16px;
    }
  }
}
