.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 50%;
  margin: auto;
  gap: 5rem;
}

.tops-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & div {
    max-width: 40%;
    height: auto;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row-start: 2;

  & div {
    max-width: 40%;
    height: auto;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.self {
  grid-row-start: 1;
  grid-row-end: 3;

  & div {
    max-width: 40%;
    height: auto;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
