@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 50%;
  margin: auto;
  gap: 5rem;
}

.tops-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & div {
    max-width: 40%;
    height: auto;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  & button {
    background-color: white;
    border: none;
  }

  & button:hover {
    transform: scale(1.06);
  }

  & .top-img-div {
    border: 1px solid grey;
    border-radius: 12px;
    padding: 24px;
    position: relative;
  }

  & h2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(30%, -130%);
    background-color: white;
  }
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row-start: 2;

  & div {
    max-width: 40%;
    height: auto;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  & button {
    background-color: white;
    border: none;
  }

  & button:hover {
    transform: scale(1.06);
  }

  & .bottom-img-div {
    border: 1px solid grey;
    border-radius: 12px;
    padding: 24px;
    position: relative;
  }

  & h2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(30%, -130%);
    background-color: white;
  }
}

.self {
  grid-row-start: 1;
  grid-row-end: 3;

  & div {
    max-width: 40%;
    height: auto;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & button {
    margin-top: 1rem;
    padding: 8px;
    background-color: black;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  & button:hover {
    background-color: #333;
  }

  & select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }

  & select option {
    padding: 8px;
    font-size: 1rem;
  }

  & .file-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  & .file-button:hover {
    background-color: grey;
  }

  & .file-button input[type="file"] {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
  }
}

input {
  padding: 4px;
}

.generate-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  & button {
    padding: 16px 32px;
    font-size: 1rem;
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  & button:hover {
    background-color: #004d00;
  }
}

.closet-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & .clothing-item {
    width: 100px;
    height: 100px;
  }

  & .clothing-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px;
  }
}

.signup-container {
  max-width: 50%;
  margin: auto;
  padding: 2rem;

  & input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  & button {
    padding: 12px;
    background-color: #004d00;
  }

  & button:hover {
    background-color: #006400;
  }

  & a {
    color: #2b35af;
    text-decoration: none;
    cursor: pointer;
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.login-container {
  max-width: 50%;
  margin: auto;
  padding: 2rem;

  & input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  & button {
    padding: 12px;
  }

  & button:hover {
    background-color: #333;
  }

  & a {
    color: #2b35af;
    text-decoration: none;
    cursor: pointer;
  }

  & .error-message {
    color: red;
  }
}
